body {
    margin: auto;
    padding: auto;
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    /* #F5F5DC; */
    color: black;
    /* display:flex; */
    justify-content: center;
    position: relative;
}

.main {
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.left-container {
    background-color: rgb(0, 247, 255);
    padding: 1%;
    text-align: center;
    font-size: larger;
}

.right-container {
    background-color: rgb(173, 229, 128);
    padding: 1%;
}

.detail {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.Ucontainer {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    padding-bottom: 3%;
    padding-top: 4%;
}

.Lcontainer {
    padding-top: 3%;
    padding-bottom: 4%;
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 2;
}

h4,
h5,
p {
    margin: 0;
    padding: 0;
}

.footer {
    position: relative;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 200px;
    }
}